---
import LegalLayout from '../layouts/LegalLayout.astro';
---
<LegalLayout title="Imprint">
    <h2>Information according to ยง 5 TMG</h2>
    <p>
        Christoph [Your Last Name]<br />
        [Your Street Address]<br />
        [Your Postal Code and City]<br />
        Germany
    </p>

    <h2>Contact</h2>
    <p>
        Email: christoph@chptk.de
    </p>

    <h2>Responsible for Content according to ยง 55 Abs. 2 RStV</h2>
    <p>
        Christoph [Your Last Name]<br />
        [Your Street Address]<br />
        [Your Postal Code and City]<br />
        Germany
    </p>
</LegalLayout>